<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <link rel="stylesheet" href="../model/style.css">
    <title> JSON</title>
</head>
<body>

    <div class="container2">
        <input type="numbre" id="cod" placeholder="Digite A Placa" class="inp">
        <button onclick="buscar()" class="bnt">Enviar</button>
    </div>
    
    <div class="container">
        <input type="text" id="marca" placeholder="Marca" readonly class="inp">
        <input type="text" id="modelo" placeholder="Modelo" readonly class="inp">
        <input type="text" id="ano" placeholder="Ano" readonly class="inp">
        <input type="text" id="cor" placeholder="Cor" readonly class="inp">
    </div>
<script src="../scripts/script.js"></script>
</body>
</html>