<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <link rel="stylesheet" href="../Model/style.css">
    <title> JSON</title>
</head>
<body>
    <div class="aling">
        <div class="container">
            <h2>Busca de Ceps Json</h2>
            <input type="text" class="inp" id="cod" placeholder="Digite Seu Cep">
            <button class="btn" onclick="buscar()">Enviar</button>
        </div>

        <div class="aling">
            <div class="container2">
                <input type="text" id="cidade" placeholder="Cidade" class="inp">
                <input type="text" id="estado" placeholder="Estado" class="inp">
                <input type="text" id="bairro" placeholder="Bairro" class="inp">
                <input type="text" id="pais" placeholder="País" class="inp">
            </div>
        </div>
    </div>
<script src="../Scripts/script.js"></script>
</body>
</html>