@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

.container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

#cod{
    width: 96px;
}

.inp{
    padding: 15px;
    margin: 5px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

button{
    padding: 15px;
}